.title{
    font-size: 200px;
    color: black;
    position: relative;
    text-align: center;
    top: 200px;
}

.giantpin{
    width: 1000px;
    height: 1000px;
}

.american{
    width: 250px;
    height: 250px;
}

.chinese{
    width: 250px;
    height: 250px;
}

.greek{
    width: 250px;
    height: 250px;
}

.italian{
    width: 250px;
    height: 250px;
}

image{
    height:100%;
    width:100%;
}