.title{
    font-size: 200px;
    color: black;
    position: relative;
    text-align: center;
    top: 200px;
}

.giantsquare{
    width: 2850px;
    height: 1000px;
    background-color: lightgreen;
    border-radius: 20px;
    position: relative;
}

.pin{
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.pin img{
    width: 200px;
    border-radius: 10px;
}

.underlineforPins{
    background-color: tan;
    padding: 4px 10px;
    border-radius: 6px;
    display: inline-block;
}